@import "./variables.scss";

//Header
.header {
  .language-dropdown {
    padding: 0;
    min-width: 0;
    background-color: transparent;
    border: 0;
    :hover {
      background-color: transparent;
    }
  }
}

// About Section
.about {
  .bg-img {
    background-image: url("/assets/about/lydia-logga-vtYlaTrSGIo-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
