// General Config
// ================================================================================
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

// variables
$primary-color: #684d45; // primary color for all components
$secondary-color: #f4ede7;
$secondary-light: #f7f5f2;
$sub-color: #ede3db;
$link-color: #5f8657; // link color
$success-color: #52c41a; // success state color
$warning-color: #faad14; // warning state color
$error-color: #f5222d; // error state color

// Screen Breaks
$screen-xs: 480px;
$screen-xs-min: $screen-xs;

$screen-sm: 576px;
$screen-sm-min: $screen-sm;

$screen-md: 768px;
$screen-md-min: $screen-md;

$screen-lg: 992px;
$screen-lg-min: $screen-lg;

$screen-xl: 1200px;
$screen-xl-min: $screen-xl;

$screen-xxl: 1600px;
$screen-xxl-min: $screen-xxl;

// Container
.container {
  width: 100%;
  display: block;
  // align-self: center; mover flex items
  margin: auto;
}

@mixin make-container($minWidth, $breakpoint) {
  @media (min-width: $minWidth) {
    .container {
      max-width: $breakpoint;
    }
  }
}

@include make-container($screen-xs-min, $screen-xs);
@include make-container($screen-sm-min, $screen-sm);
@include make-container($screen-md-min, $screen-md);
@include make-container($screen-lg-min, $screen-lg);
@include make-container($screen-xl-min, $screen-xl);
@include make-container($screen-xxl-min, $screen-xxl);

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-image: url("/assets/background.png");
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: $link-color;
  text-decoration: none;
}

//  View for resolutions smaller than 992px (Phone)
// ================================================================================
// Header
// ================================================================================
.header {
  display: flex;
  justify-content: space-between;
  background-color: $secondary-color;
  padding: 10px 0 10px 0;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.25);

  .separator {
    display: none;
  }

  .v-separator {
    display: none;
  }

  .nav-name {
    height: 95%;
    margin: 0 10%;
  }

  // Hide Navar elements
  .hide-mobile {
    display: none;
  }

  .edit-button {
    display:  none;
  }

  // Menu Icon
  .menu {
    width: 40px;
    margin: 1.8em 1.9em 0 0;
  }

  // Nav elements
  nav {
    ul {
      position: fixed;
      width: 55%;
      top: 0;
      right: 0;
      text-align: left;
      background: $sub-color;
      height: 100%;
      z-index: 5;
      padding-top: 3em;
      opacity: 0.9;

      li {
        padding: 1em 2em;
      }
    }

    // "X" Button
    .exit-btn {
      margin-bottom: 1em;
      margin-top: -1.3em;
      text-align: right;
      padding: 0 1.4em;

      img {
        width: 45px;
        cursor: pointer;
      }
    }
  }
}

// Info card
// ================================================================================
.profile-container {
  background-color: $secondary-color;
  padding-bottom: 2em;
  margin: 3em;
  text-align: center;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);

  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 1.4em;
  }

  // Profile Image
  .profile-picture {
    margin: 3em 3em 0 3em;
    align-self: center;
    width: 200px;
    border: 5px solid $primary-color;
    border-radius: 50%;
  }

  // Social media Icons
  .contacts {
    margin: 0 6em;
    display: flex;
    justify-content: space-between;

    img {
      width: 100%;
    }
  }
}

// Recent Posts
// ================================================================================
.posts-title {
  color: $primary-color;
  margin-left: 1.5em;
  font-weight: bold;
  font-size: 30px;
}

.posts-container {
  background-color: $secondary-color;
  margin: 1.2em;
  padding: 1em;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: $primary-color;

  h3 {
    font-weight: bold;
    font-size: 1.2em;
  }

  p {
    font-size: 14px;
  }
  li {
    margin: 1.5em 0;
    padding: 2em;
    background-color: $sub-color;
  }
}

// General Page Information (Home / About / Projects ...)
// ================================================================================
.page-info {
  .info-container {
    background-color: $secondary-color;
    margin: 1.2em;
    padding: 2.5em;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: $primary-color;

    h2 {
      font-weight: bold;
    }

    p {
      font-size: 14px;
    }
  }

  .project-container {
    .project-card {
      padding: 1em;
      background-color: $sub-color;
      margin-bottom: 2em;

      h3 {
        font-size: 1.5em;
      }

      a {
        font-size: 1.2em;
      }

      .project-img {
        border-radius: 5%;
        width: 100%;
      }
    }
  }
}

.home-image {
  width: 100%;
  margin-bottom: 3em;
  display: none;
}

// Footer
// ================================================================================
footer {
  // Grass colors
  .dark-green {
    width: 100%;
    height: 10px;
    background: #4d6b47;
  }

  .green {
    position: relative;
    top: -1px;
    width: 100%;
    height: 67px;
    background: #5f8657;

    .flowers {
      position: relative;
      top: -40px;
      left: 10%;
    }
  }

  .light-green {
    position: relative;
    top: -2px;
    width: 100%;
    height: 15px;
    background: #638057;
  }

  .brown {
    position: relative;
    top: -3px;
    margin: 0;
    width: 100%;
    height: 50px;
    background: #684d45;
  }
  .dark-brown {
    position: relative;
    top: -4px;
    padding-top: 2em;
    padding-bottom: 5em;
    width: 100%;
    // height: 599px;
    background: #59423b;

    h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      color: #f4ede7;
      margin-top: 2em;
    }

    // Main Footer info
    .footer-container {
      margin-left: 5em;
      .info {
        justify-content: space-between;
        li {
          font-weight: 600px;
          font-size: 16px;
          line-height: 24px;
          color: #f4ede7;

          a {
            font-weight: 900;
            font-size: 20px;
            line-height: 24px;
            color: #f4ede7;
          }
        }
      }
    }

    .contacts {
      margin-top: 2em;
      display: flex;
      justify-content: space-between;
      margin-right: 10em;

      img {
        width: 45px;
      }
    }
  }
}

// Login
// ================================================================================
.login {
  display: flex;
  justify-content: center;
  align-items: center;

  .login-container {
    text-align: center;
  }

  .alert {
    background: #4d6b47;
    color: white;
    border-radius: 1em;
    font-size: 20px;
    margin: 1em;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    background-color: $secondary-color;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: $primary-color;
    margin: 3em 15em; 
    padding: 2em;

    h2 {
      margin: 0 0 1em 0;
      font-size: 30px;
    }

    input {
      margin: .5em;
      padding: .9em 1em;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: .375rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .submit-button {
      background: $link-color;
      color: $secondary-light;
      cursor: pointer;
    }

    .login-failed {
      color: $error-color;
    }

  }
  
}


// View for resolutions higher than 992px (Tablet)
// ===============================================================================
@media only screen and (min-width: $screen-lg) {
  .header {
    justify-content: left;
    .show-desktop {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .separator {
      display: block;
    }

    // Nav links separator
    .v-separator {
      content: "";
      display: inline-block;
      width: 0px;
      height: 50px;
      border-right: 1px solid $secondary-color;
      border-left: 1px solid $primary-color;
      padding: 0;
    }

    .nav-name {
      height: 80px;
      margin: 0 3em;
    }

    .hide-desktop {
      display: none;
    }
    nav {
      ul {
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;

        li {
          float: left;
          padding: 0 0.4em;
          margin-top: 1em;
        }

      }
    }
  }

  .login {
    .alert {
      background: #4d6b47;
      color: white;
      border-radius: 1em;
      font-size: 20px;
      margin: 1em;
      padding: 1px 5em;
    }
  
  }
  
}


// View for resolutions higher than 1200px (Desktop)
// ===============================================================================
@media only screen and (min-width: $screen-xl) {
  // Layout
  .home-desktop {
    display: grid;
    grid-template-columns: 25% auto;

    .recent-posts {
      grid-row: span 3;
    }

    .page-info {
      grid-row: span 2;
    }
  }

  .header {
    height: 60px;

    justify-content: left;

    .show-desktop {
      display: block;
    }

    .nav-name {
      height: 60px;
      margin: 0 1em;
    }

    nav {
      ul {
        li {
          margin-top: 0.3em;
        }
        img {
          margin-top: 0.3em;
          height: 40px;
        }
      }
    }

    .edit-button{
      width: 2em;
      display: block;
      position: absolute;
      right: 20px;
      margin-left: 1em;
      cursor: pointer;
    }
  }

  // Profile image
  .profile-container {
    margin: 2em 1em 0 0;
    padding: 0;

    .profile-picture {
      width: 180px;
      margin: 2.5em 2.5em 0 2.5em;
    }

    p {
      color: $primary-color;
    }

    .contacts {
      margin: 0 3em 1em 3em;
      padding-bottom: 2em;
    }
  }

  // General Page Information (Home / About / Projects ...)
  .page-info {
    .info-container {
      background-color: $secondary-color;
      margin: 2em 0 2em 1em;
      padding: 2.5em;
      box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
      color: $primary-color;

      h2 {
        font-weight: bold;
      }

      p {
        font-size: 16px;
        line-height: 2em;
      }
    }
  }

  .project-container {
    .project-card {
      display: grid;
      grid-template-columns: auto auto;
      padding: 1em;
      background-color: $sub-color;
      margin-bottom: 2em;

      .project-img {
        border-radius: 5%;
        grid-row: 1 / span 3;
      }

      p {
        margin-left: 1em;
        margin-right: 1em;
        grid-column: 2 / span 2;
      }

      h3 {
        margin: 0;
        margin-left: 0.6em;
        font-size: 1.5em;
        grid-column: 2 / span 2;
      }

      a {
        margin-right: 2em;
        font-size: 1em !important;
        grid-column: 3;
      }
    }
  }

  .post-entry {
    display: grid;
    grid-template-columns: 75% auto;
    .page-info {
      margin-right: 2em;
    }

    .recent-posts {
      margin-top: 2em;
    }
  }

  // home Image
  .home-image {
    width: 100%;
    margin-bottom: 3em;
    display: block;
  }

  // Info Container
  .recent-posts {
    .posts-container {
      margin: 0 1em 3em 0;
      padding: 1.5em;

      li {
        padding: 1px 1em 1em 1em;
      }

      p {
        font-size: 14px;
      }
    }
  }

  // Recent posts
  .posts-title {
    color: $primary-color;
    margin: 0;
    font-weight: bold;
    font-size: 23px;
  }

  // Footer
  .dark-brown {
    .footer-container {
      display: flex;

      .info {
        margin-left: 8em;
      }
      .contacts {
        img {
          margin: 0 1em;
        }
      }
    }
  }
}
